
/* --------------------------------------------------------- */
/* @@@@@@@@@@ GOOGLE FONTS @@@@@@@@@@ */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

/* @@@@@@@@@@ VARIABLE CSS @@@@@@@@@@ */
:root{
    --header-height: 3.5rem;

/* ====== Colors ====== */    
    --main-color: #EEEEEE;
    --second-color: #222831;
    --third-color: #393E46;
    --support-color: #00ADB5;   
    --shadow-color: #1b1b1b;

/* ====== Shadow box ====== */
    --shadow-box:  0px 1px 10px -3px var(--shadow-color);

/* ====== Font and typography ====== */
    /* font size - 1rem = 16px */
    --body-font: 'Rubik', sans-serif;
    --main-font: 2rem;
    --h1-f-size: 1.5rem;
    --h2-f-size: 1.25rem;
    --h3-f-size: 1rem;
    --normal-f-size: .938rem;
    --small-f-size: .813rem;
    --smaller-f-size: .75rem;
    --icon-size: 1.4rem;
    
    /* font weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 600;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}


/* @@@@@@@@@@ R W D - Typography @@@@@@@@@@ */
@media screen and (min-width: 1150px){
    :root{
    --main-font: 4.5rem;
    --h1-f-size: 2.25rem;
    --h2-f-size: 1.5rem;
    --h3-f-size: 1.25rem;
    --normal-f-size: 1.125rem;
    --small-f-size: .875rem;
    --smaller-f-size: .813rem;
    }
}
/*-----------------------------------------------------------------*/
/* @@@@@@@@@@@@@@@@@@@@@@@@@@ B A S E @@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/*---------------------------------------------------------------*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    letter-spacing: .075rem;
}

html{
    scroll-behavior: smooth;
}

body,
input,
textarea,
button{
    font-family: var(--body-font);
    font-size: var(--normal-f-size);
}

body{
    background-color: var(--main-color);
    color: var(--second-color);
    transition: background-color .4s;
}

input,
button,
textarea{
    border: none;
    outline: none;
}

h1, h2, h3, h4{
    color: var(--third-color);
    font-weight: var(--font-bold);
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* ====== THEME ====== */
.nav__actions{
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.change-theme{
    color: var(--main-color);
    font-size: 1.3rem;
    transition: color .4s;
    cursor: pointer;
}

/* ====== DARK THEME ====== */ 
body.dark-theme{
    /* ====== Colors ====== */
    --third-color: #3282B8;
    --support-color: #BBE1FA;     
    --second-color: #0F4C75;
    --main-color: #1B262C;
    --shadow-color: #0c141a;      
}
/* Dark theme / 
parts of the web */ 
.dark-theme .bg-header{
    box-shadow: 1px 1px 4px var(--second-color);
}

.dark-theme .services__modal{
    background-color: var(--main-color);
}

.dark-theme::-webkit-scrollbar{
    background-color: #1B262C;
}

.dark-theme::-webkit-scrollbar-thumb{
    background-color: #0F4C75;
}

.dark-theme::-webkit-scrollbar-thumb:hover{
    background-color: #EEEEEE;
}

/*------------------------------------------------------------------------------*/
/* @@@@@@@@@@@@@@@@@@@@@@@@@@ REUSABLE CSS CLASSES @@@@@@@@@@@@@@@@@@@@@@@@@@  */
/*----------------------------------------------------------------------------*/
.container{
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding-block: 5rem 1rem;
}

.section__title{
    font-size: var(--h1-f-size);
    text-align: center;
    margin-bottom: 2rem;
}

.profil{
   width: 250px;
   height: 250px;
   background-color: var(--main-color);
   border: 8px solid var(--main-color);   
   display: grid;
   place-items: center;
   transition: background-color .4s; 
}

.profil__content{
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.main{
    overflow: hidden;
}


/* @@@@@@@@@@ HEADER & NAV @@@@@@@@@@ */
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
    transition: background-color .4s, box-shadow .4s;
}

.nav{
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    color: var(--main-color);
    font-weight: var(--font-medium);
    transition: color .4s;
}

.nav__toggle,
.nav__close{
    display: inline-flex;
    font-size: var(--icon-size);
    cursor: pointer;
}

.nav__toggle{
    color: var(--main-color);
    transition: color .4s;
}

.nav__close{
    color: var(--support-color);
}

/* ====== Navigation for mobile devices ====== */
@media screen and (max-width: 1150px){
    .nav__menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: var(--main-color);
        width: 100%;
        box-shadow: 0 4px 16px var(--shadow-color);
        padding-block: 5rem 4rem;
        transition: top .4s;
    }
}

.nav__list{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    text-align: center;
}

.nav__link{
    color: var(--second-color);
    font-weight: var(--font-medium);
    transition: color .4s;
}

.nav__link:hover{
    color: var(--support-color);
}

.nav__close{
    position: absolute;
    top: 1.15rem;
    right: 1.15rem;
    font-size: var(--icon-size);
}

/* ====== Show menu ====== */
.show-menu{
    top: 0;
}

/* ====== Change background header ====== */
.bg-header{
    background-color: var(--main-color);
    box-shadow: 1px 1px 4px var(--second-color);
}

.bg-header :is(.nav__logo, .nav__toggle, .change-theme){
    color: var(--second-color);
}



/* ====== Header background of other pages ====== */
.header-pages{
    background-color: var(--main-color);    
}

.header-pages :is(.nav__logo, .nav__toggle, .change-theme){
    color: var(--second-color)
}

/* @@@@@@@@@@ BTN @@@@@@@@@@ */
.button{
   display: inline-flex;
   justify-content: center;
   background-color: var(--third-color);
   color: var(--main-color);
   font-weight: var(--font-bold);
   padding: 1rem 2rem;
   transition: background-color .4s, box-shadow .4s;
   border-radius: .5rem 1rem;
   box-shadow: 0px 2px 6px var(--shadow-color);   
}

.button:hover{
    background-color: var(--support-color);
    color: var(--second-color);
    box-shadow: 1px 4px 8px var(--shadow-color);
    font-weight: var(--font-bold);
}

.button:active{
    transition: .4s;
    transform: scale(.9);
}


/* @@@@@@@@@@ HOME @@@@@@@@@@ */
.home{
    position: relative;
    border-bottom: 8px solid var(--second-color);
}

.home__rectangle{
    width: 100%;
    height: 220px;
    background-color: var(--second-color);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.home__container{
    padding-block: 1rem 3rem;
}

.home__profil{
    justify-self: center;
}

.home__data{
    row-gap: .75rem;
    text-align: center;
}

.home__name{
    font-size: var(--h1-f-size);
}

.home__profession{
    font-size: var(--h2-f-size);
}

.home__social{
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}

.home__social-link{
    font-size: 1.3rem;
    color: var(--second-color);
    transition: color .4s;
}

.home__social-link:hover{
    color: var(--support-color);
    transition: .4s;
    transform: scale(1.5);
}

.home__button{
    justify-self: center;     
}


/* @@@@@@@@@@ ABOUT @@@@@@@@@@ */
.about__page{
    padding-bottom: 4rem;
}

.about__profil{
    justify-self: center;
}

.about__content{
    row-gap: 4rem;
}

.about__data{
    row-gap: 2rem;
}

.about__info{
    text-align: center;
    row-gap: .75rem;
    line-height: 1.55rem;
}

.about__name{
    font-size: var(--h1-f-size);
}

.about__profession{
    font-size: var(--h2-f-size);
}

.about__description b{
    color: var(--second-color);
}

.about__button{
    justify-self: center;
}

/* @@@@@@@@@@ SERVICES @@@@@@@@@@ */
.services__container{
    row-gap: 2rem;    
}

.services__card{
    background-color: var(--main-color);
    padding: 3.5rem 1.5rem;
    box-shadow: 0px 8px 23px -14px var(--shadow-color);
    text-align: center;
    transition: background-color .4s;
}

.services__icon{
    display: inline-block;
    font-size: 3rem;
    color: var(--support-color);
    margin-bottom: 1.5rem;
}

.services__title{
    font-size: var(--h2-f-size);
    margin-bottom: 1rem;
    color: var(--support-color);
}

.services__description{
    margin-bottom: 3rem;
    color: var(--third-color);
}

.services__button{
    cursor: pointer;
    box-shadow: 0px 2px 6px var(--shadow-color);
}

.services__modal{
    position: fixed;
    inset: 0;
    background-color: var(--support-color);    
    display: grid;
    place-items: center;
    padding: 2rem 1.5rem;
    opacity: 0;
    visibility: hidden;
    z-index: var(--z-modal);
    transition: opacity .4s, visibility .4s;
}

.services__modal-content{
    max-height: 420px;
    position: relative;
    background-color: var(--third-color);
    padding: 3.5rem 1.5rem;
    border-bottom: 8px solid var(--second-color);
    overflow: auto;
}

.services__modal-content::-webkit-scrollbar{
    width: .6rem;
}

.services__modal-content::-webkit-scrollbar-thumb{
    background-color: var(--shadow-color);
}

.services__modal-title{
    font-size: var(--h2-f-size);
    margin-bottom: 2.5rem;
    color: var(--main-color);
}

.services__modal-list{
    margin-left: 1rem;
}

.services__modal-item{
    text-align: initial;
    list-style: square;
    color: var(--main-color);    
}

.services__modal-item::marker{
    color: var(--support-color);
}

.services__modal-close{
    position: absolute;
    top: .5rem;
    right: .4rem;
    font-size: 1.5rem;
    color: var(--support-color);
    cursor: pointer;
}

/* ACTIVE MODAL */
.active-modal{
    opacity: 1;
    visibility: visible;
}

/* @@@@@@@@@@ PORTFOLIO(work) @@@@@@@@@@ */
.work__container{
    row-gap: 2rem;
}

.work__link{
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-bottom: 1rem;
}

.work__img{
    filter: grayscale(1);
    transition: filter .5s, transform .5s;    
}

.work__icon{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    color: var(--support-color);
    transition: transform .4s;
}

.work__link:hover .work__img{
    transform: scale(1.1);
    filter: none;
}

.work__link:hover .work__icon{
    transform: translate(.5rem, -.5rem) rotate(-45deg);
}

.work__title{
    font-size: var(--h2-f-size);
    margin-bottom: .25rem;
}

.work__page{
    padding-bottom: 4rem;
}

/* @@@@@@@@@@ TESTIMONIAL @@@@@@@@@@ */
.testimonial__container{
    position: relative;
}

.testimonial__swiper{
    padding-bottom: 2rem;
}

.testimonial__card{
    background-color: var(--main-color);
    padding: 2rem 1.25rem 2.5rem 1.25rem;
    border-inline: 8px solid var(--second-color);
    box-shadow: 0px 8px 23px -14px var(--shadow-color);
    text-align: center;
    transition: background-color .4s;
}

.testimonial__border{
    width: 100px;
    height: 100px;
    border: 6px solid var(--second-color);
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
}

.testimonial__img{
    filter: grayscale(1);
    transition: filter .4s;    
}

.testimonial__name{
    font-size: var(--h2-f-size);
    margin-bottom: .5rem;
}

.testimonial__card:hover .testimonial__img{
    filter: none;
}

/* Swiper class */
.swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom: -.25rem;
}

.swiper-pagination-bullet{
    background-color: var(--second-color);
    opacity: 1;
}

.swiper-pagination-bullet-active{
    background-color: var(--support-color);
}

/* @@@@@@@@@@ CONTACT @@@@@@@@@@ */
.contact__container{
    padding-bottom: 4rem;
}

.contact__button{
    justify-self: center;
}

.contact__page{
    padding-block: 1rem 4rem;
}

.contact__form{
    position: relative;
}

.contact__box{
    position: relative;
    width: 100%;
    height: 58px;
}

.contact__input{
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    border: 3px solid var(--third-color);
    padding: .5rem 1.5rem;
    color: var(--third-color);
    font-weight: var(--font-medium);
    transition: border-color .4s, background-color .4s;
}

.contact__input:focus{
    border-color: var(--support-color);
}

.contact__input.contact__input:-webkit-autofill{
    transition: background-color 6000s, color 6000s;
}

.contact__label{
    position: absolute;
    top: -16px;
    left: 16px;
    font-size: var(--small-f-size);
    font-weight: var(--font-medium);
    color: var(--support-color);
    background-color: var(--main-color);
    padding: 8px;
    transition: background-color .4s;
}

.contact__area{
    height: 15rem;
}

.contact__area textarea{
    resize: none;
    padding-top: 1.5rem;
}

.contact__send{
    padding-block: 1.25rem;
    cursor: pointer;    
}

.contact__message{
    position: absolute;
    bottom: -2rem;
    left: 0;
    font-size: var(--small-f-size);
    font-weight: var(--font-medium);
    color: var(--support-color);  
}

/* @@@@@@@@@@ FOOTER @@@@@@@@@@ */
.footer{
    background-color: var(--second-color);
}

.footer__company-logo{
    justify-self: center;
}

.footer__logo-dagart{
    width: 50px;
    height: auto;    
}

.footer__container{
    padding-block: 4rem 2rem;
    text-align: center;
    row-gap: 3rem;
}

.footer__content a,
.footer__copy{
    color: var(--main-color);
}

.footer__logo{
    font-size: var(--h1-f-size);
    font-weight: var(--font-regular);
    justify-self: center;
}

.footer__links,
.footer__social{
    display: flex;
    justify-content: center;
}

.footer__links{
    flex-wrap: wrap;
    gap: 2rem;
}

.footer_link{
    font-weight: var(--font-medium);
}

.footer__logo:hover,
.footer__link:hover{
    border-left: 6px solid var(--main-color);       
}

.footer__social{
    column-gap: 1rem;
}

.footer__social-link{
    font-size: 1.5rem;
    transition: transform .4s;
}

.footer__social-link:hover{
    transform: translateY(.25rem);
}

.footer__copy{
    font-size: var(--smaller-f-size);
    font-weight: var(--font-regular);
    padding-bottom: 1rem;
}

/* @@@@@@@@@@ SCROLL BAR @@@@@@@@@@ */
::-webkit-scrollbar{
    width: .7rem;
    background-color: var(--main-color);
}

::-webkit-scrollbar-thumb{
    background-color: var(--support-color);    
    
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--second-color);
}

/* @@@@@@@@@@ SCROLL UP @@@@@@@@@@ */
.scrollup{
    position: fixed;
    right: 1rem;
    bottom: -50%;
    background-color: var(--main-color);
    color: var(--support-color);
    box-shadow: 0px 0px 13px -4px var(--second-color);    
    z-index: var(--z-tooltip);
    padding: 8px;
    display: inline-flex;
    font-size: 1.5rem;
    border-radius: 25%;
    transition: bottom .4s, transform .4s, background-color .4s;
}

.scrollup:hover{
    transform: translateY(-.45rem);
}

/* show scroll up */
.show-scroll{
    bottom: 1.5rem;
}